<!DOCTYPE html>
<html>
<head></head>
<body>

<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>

<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>

<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>

<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>

<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>


<p>
    島根で非常に激しい雨 東北～山陰 浸水や土砂災害など厳重警戒
    2024年7月9日 12時53分

    停滞する前線の影響で、東北から山陰にかけての日本海側を中心に雨雲が発達し、島根県で断続的に非常に激しい雨が降っています。

    低い土地の浸水に厳重に警戒し、自治体からの情報に注意し、早めに安全を確保して下さい。

    雨雲予報 データマップ
    気象庁によりますと、北日本付近に停滞している前線に向かって暖かく湿った空気が流れ込んでいる影響で、日本海側を中心に大気の状態が非常に不安定になっています。

    この時間は、東北や北陸に加え、山陰で雨雲が発達していて、9日正午までの1時間には島根県が松江市に設置した雨量計で37ミリ、鳥取県米子市で32.5ミリの激しい雨を観測しました。

    松江市では9日正午の時点で気象庁のキキクル、危険度分布で浸水の危険性が最も高く災害が切迫していることを示す「黒色」の表示が出ています。

    厳重に警戒して下さい。

    また、山形県ではこの48時間に降った雨の量が200ミリを超え、平年7月1か月分に達しているところがあるほか、秋田県では氾濫危険水位を超えている川があります。

    これまでに降った雨で島根県と鳥取県、秋田県、山形県、宮城県では土砂災害の危険性が非常に高まり「土砂災害警戒情報」が発表されている地域があります。

    東北から山陰にかけての日本海側では10日にかけて雷を伴って激しい雨や非常に激しい雨が降るほか、前線はこのあとも停滞するため東日本と西日本を中心に雨量がさらに増えるおそれがあります。

    能登半島地震で被害を受けた地域ではふだんより少ない雨量でも災害の危険度が高まるおそれがあります。

    気象庁は低い土地の浸水や土砂災害、川の氾濫に厳重に警戒し、落雷や竜巻などの激しい突風、ひょうに注意するよう呼びかけています。

    短時間に非常に激しい雨が降ると降った雨が排水できなくなって浸水するおそれがあり、早めに避難するなどして下さい。

    また、斜面や増水した川など危険な場所には近づかず、自治体からの情報に注意して安全な場所で過ごして下さい。
</p>

</body>
</html>